<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="qrc:///js/core/channel.js"></script>
    <script src="qrc:///js/core/models/flashcard.js"></script>
    <script src="qrc:///js/core/flashcard_view_factory.js"></script>

    <script src="qrc:///js/bridges/editor.js"></script>
    <script src="qrc:///js/bridges/flashcard.js"></script>
    <script src="qrc:///js/bridges/media.js"></script>

    <script src="qrc:///js/views/flashcard.js"></script>
    <script src="qrc:///js/views/vocabulary.js"></script>
    <script src="qrc:///js/views/orthographic.js"></script>
    <script src="qrc:///js/views/pronounce.js"></script>

    <script src="qrc:///js/services/states/editor.js"></script>
    <script src="qrc:///js/services/media/media.js"></script>
    <script src="qrc:///js/services/flashcards/collection.js"></script>
    <script src="qrc:///js/services/flashcards/controller.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="editor"></div>
    <script>
        window.addEventListener('load', async function() {
            const editorStateBridge = new EditorStateBridge()
            const mediaBridge = new MediaBridge()
            await editorStateBridge.isReady()
            await mediaBridge.isReady()

            const container = document.getElementById('editor')
            const editorStateService = new EditorStateService(editorStateBridge)
            const mediaService = new MediaService(mediaBridge)

            const flashcardController = new FlashcardControllerService(container, editorStateService, mediaService)

            await flashcardController.init()
            await flashcardController.render()
        })
    </script>
</body>
</html>