<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="scripts/channel.js"></script>
    
    <link rel="stylesheet" href="style.css">

    <script src="scripts/shemas/flashcard.js"></script>
    <script src="scripts/views/flashcard.js"></script>
    <script src="scripts/views/vocabulary.js"></script>
    <script src="scripts/views/controls.js"></script>
    
    <script src="scripts/states/editor.js"></script>
    <script src="scripts/viewmodels/flashcard.js"></script>
    <script src="scripts/viewmodels/media.js"></script>
    
    <script src="scripts/services/media/media.js"></script>
    <script src="scripts/services/flashcards/collection.js"></script>

    <script src="scripts/flashcard_view_factory.js"></script>
    <script src="scripts/services/flashcards/controller.js"></script>
    <script src="scripts/services/states/editor.js"></script>
</head>
<body>
    <div id = 'editor'></div>
    <script>
        async function main() {
            const editorState = new EditorState()
            await editorState.isReady()

            const editorStateService = new EditorStateService(editorState)
            collection = await editorStateService.getCollection()

            await editorStateService.saveCollection(collection)

            const flashcard = new Flashcard()

            flashcard.type = 'vocabulary'
            flashcard.frontHTML = 'front'
            flashcard.backHTML = 'back'
            flashcard.addFrontImage('certificado.png')
            flashcard.addFrontAudio('WhatsApp Audio 2026-03-06 at 21.54.43.ogg')

            const mediaViewmodel = new MediaViewModel()
            const mediaService = new MediaService(mediaViewmodel)

            await mediaViewmodel.isReady()

            const viewFactory = new FlashcardViewFactory(mediaService)
            const flashcardCollection = new FlashcardCollectionService({ flashcards: [flashcard.toJSON()] })
            const container = document.getElementById('editor')
            
            const flashcardController = new FlashcardControllerService(container, editorStateService, viewFactory)
            
            await flashcardController.init()
            await flashcardController.render()
        }

        main()
    </script>
</body>
</html>